<h1 style="text-align:center">
    Student data
</h1>
<div class="flex">
    <div class="card"  *ngFor="let student of students">
       <app-card [data]="student"></app-card>
    </div>
   
    <!-- <mat-card>
        <mat-card-content>{{students[1].name}}
            <br>
            <br>
            {{students[1].class}}
            <br>
            <br>
            {{students[1].hobby}}
            <br>
            <br>
            {{students[1].address}}
            <br>
            <br>
            {{students[1].email}}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>{{students[1].name}}
            <br>
            <br>
            {{students[1].class}}
            <br>
            <br>
            {{students[1].hobby}}
            <br>
            <br>
            {{students[1].address}}
            <br>
            <br>
            {{students[1].email}}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>{{students[1].name}}
            <br>
            <br>
            {{students[1].class}}
            <br>
            <br>
            {{students[1].hobby}}
            <br>
            <br>
            {{students[1].address}}
            <br>
            <br>
            {{students[1].email}}
        </mat-card-content>
      </mat-card> -->
</div>